.body{
    background-color: ivory;
}

.healder{
    text-align: center;
    background-color: pink;
}

.healder,.ul-container,.ul-nav-one,.ul-nav-two{
    border:1px solid hotpink;
    border-radius: 15px;
    box-shadow: 10px;
    background-color: pink;
    margin: 5px;
}

.ul-container{
    display: flex;
    gap: 5px;
}

.ul-nav-one,.ul-nav-two{
    background-color: bisque;
    width: 200px;
    height: auto;
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

nav{
    margin: 5px 0;
}